node_modules
**/.env
**/cache
**/farming/artifacts
**/periphery/artifacts
**/plugin/artifacts

**/core/artifacts/contracts/**/*.dbg.json
**/core/artifacts/contracts/test
!**/core/artifacts/contracts/AlgebraPoolDeployer.sol/AlgebraPoolDeployer.json
!**/core/artifacts/contracts/AlgebraCommunityVault.sol/AlgebraCommunityVault.json
!**/core/artifacts/contracts/AlgebraPool.sol/AlgebraPool.json
!**/core/artifacts/contracts/interfaces/*.json


**/core/artifacts/@openzeppelin
**/core/artifacts/build-info
**/typechain
.idea
.vscode
bytecode
**/coverage
**/crytic-export
**/coverage.json